{
  "plugins": ["prettier-plugin-tailwindcss", "prettier/recommended"],
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
